:root {
  --text-light: rgb(255, 255, 255);
  --text-grey: #F0F0F2;
  --text-soft: #4D6F8C;
  --text-color: #4C6473;
  --text-dark: rgb(0, 0, 0);
  --bg-light: #F0F0F2;
  --bg-soft: #A1A6A5;
  --bg-grey: #68736F;
  --bg-color: #4D6F8C;
  --bg-dark: #4C6473;
  --nav-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  --element-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
  --text-shadow: 5px 5px 0.2rem rgba(0, 0, 0, 0.25);
  
  --font-prime: 'Alegreya', serif;
  --font-section: 'Open Sans', sans-serif; 
}


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-prime);
}

a,
h1,
h2,
h3,
h4,
h5 {
  margin: auto;
  font-family: var(--font-prime);
  color: var(--text-light);
}

#title1, #title2 {
  padding: 5px;
}

p {
  margin: auto;
  color: var(--text-color);
  font-family: var(--font-prime);
  font-size: 20px;
}

.app {
  display: flex;
  flex-direction: column;
} 

header {
  height: 20vh;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-columns: 2fr 2fr 2fr;
  /* background-image: url("./images/travel6.jpeg"); */
  width: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: 40px;
  background-color: var(--bg-soft);
}


.footer {
  background: var(--bg-soft);
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  align-content: flex-end;
}

#copyright{
  text-align: center;
  color: var(--text-color);
}

.im-linkedin, .im-github{
  color: var(--text-dark);
  font-size: 3em;
  margin-right: 10px;
}

.login-form {
  background: url("./cat-hand-fade.png") no-repeat center center fixed ;
  min-height: 90vh;
  padding: 20px;
  width: 100%;
  object-fit: center;
  /* opacity: .5; */
  
}

.login-form h2 {
  /* margin-top: 100px; */
  text-align: center;
  color: black;
}

.login-form h1, .register  {
  font-size: 30px;
  text-align: center;
  color: var(--text-color);
}


label {
  display:block;
  width:x;
  height:y;
  text-align:right;
  text-align: center;
  color: var(--text-color);
}

.register-form {
  min-height: 100vh;
  
}

.auth-container {
  padding-top: 200px;
  position: absolute;
  /* z-index: -1;    */
  width: 100%;
  height: 100%;
  background: url("./cat-hand-fade.png") no-repeat center center fixed ;
  background-size: cover;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.register-form h2 {
  margin-top: 100px;
  text-align: center;
  color: black;
  opacity: 0.6;
}

.login-button, .login-submit {
  display: inline-block;
  padding: 5px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  margin: 10px;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight: 300;
  color: var(--text-light);
  background-color: var(--bg-color);
  text-align: center;
  transition: all 0.2s;
}

.login-submit {
  text-align: center;
  }


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
}

form p {
  font-size: 25px;
  color: var(--text-color);
  opacity: 1;
}


/* Style inputs with type="text", select elements and textareas */
input {
  width: 100%; /* Full width */
  height: 35px;
  text-align: center;
  padding: 10px; /* Some padding */ 
  margin: 10px;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  opacity: 0.6;
  cursor: pointer;
} 

textarea {
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  margin: 10px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  opacity: 0.6;
  cursor: pointer;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #8B92B3;
  color: black;
  padding: 19px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  width: 30%;
  height: 7%;
  margin: 10px auto;
  opacity: 0.6;
  transition: 0.3s;
}

/* When moving the mouse over the submit button, add a darker green color */
input:hover, textarea:hover {
  opacity: 1;
}

/* *********** Hover ********** */
.login-button:hover, .login-submit:hover{
  background-color:#4095c6;
  cursor: pointer;
  }

/* @media all and (max-width:30em){
   .login-button{
display:block;
margin:0.2em auto;
 }
} */